@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}

@font-face {
    font-family: "poke";
    src: url("../public/fonts/poke-font.ttf");
}

a {
    color: black;
    text-decoration: none;
}
.space {
    opacity: 0;
}

.header-total {

    .header-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: auto;

        .link-container {
            width: 10%;
            background: white;
            height: 100%;
            margin-left: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .header-heading {
            margin: 0;
            font-family: "poke";
            text-transform: capitalize;
            letter-spacing: 1px;

        }
    }

}

.card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    border-radius: 15px;
    overflow: hidden;
   

           .img-card-container {
               width: 100%;
               height: 65%;
               
             a {

                 .card-img {
                        width: 100%;
                        height: 100%;
                        object-fit: scale-down;
                        padding: 12px;
                 }
             }
           }
           .card-body {
                background: aquamarine;
                height: 35%;
                overflow: hidden;

                .card-title {
                    text-transform: capitalize;
                    font-family: "poke";
                    letter-spacing: 1.1px;
                }
                .card-type {
                    font-size: 16px;
                    text-transform: uppercase;
                    margin: 0;
                }
           }
 
}

// description
.desc-total {
    width: 100%;
    min-height: 100vh; 
    padding-bottom: 100px;
 
         .desc-wrapper {
             width: 60%;
             margin: auto;
             display: grid;
             grid-template-columns: 40% 1fr;
             grid-column-gap: 25px;
 
                .desc-pic-container {
 
                      img {
                          width: 100%;

                          
                        }

                }
                .desc-info-container {
                      padding: 70px 35px 0 25px;
                      position: relative;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      .info-wrapper {
                        background: #30a7d7;
                        padding: 25px 12px;
                        width: 85%;
                        border-radius: 15px;
                        min-height: 46%;

                          ul {
                              list-style: none;

                                li {
                                    font-size: 1.2rem;
                                    font-style: italic;
                                    color: white;

                                    span {
                                        text-transform: capitalize;
                                        font-style: initial;
                                        color: black;
                                        font-size: 1.6rem;
                                    }
                                }
                          }
                      }

                }
         }
 
    .description-container {
        width: 60%;
        margin: auto;
        padding: 30px;
        margin-top: 20px;

        p {
            font-family: 'Cabin', sans-serif;
            font-size: 1.4rem;
          }
    }
 }

 //// evolution
 .evolution-total {
    width: 100%;
    padding: 40px 0;
    border-radius: 20px;
    overflow: hidden;

      .evolution-wrapp {
        width: 50%;
        margin: auto;
        background: lightgray;
        padding: 50px;
        display: flex;
        justify-content: space-around;
        position: relative;

          .box {
              h2 {
                    font-family: "poke";
                    text-transform: capitalize;
                    letter-spacing: 1px;
              }
          }
      }
      .evolution-heading {
        margin: 0;
        position: absolute;
        top: 1%;
        left: 1%;
      }
 }


 /// responsive
 @media screen and (max-width: 800px){

     .wrapper {
        grid-template-columns: 1fr 1fr !important;
     }
     .desc-total .desc-wrapper {
        grid-template-columns: 1fr !important;
        width: 90%;
     }
     .description-container {
        width: 90% !important;
     }
     .evolution-total .evolution-wrapp {
        width: 90% !important;
     }
 }

 @media screen and (max-width: 450px){
     html {
         font-size: 10px;
     }
    .wrapper {
       grid-template-columns: 1fr !important;
    }
    .evolution-total .evolution-wrapp img {
        width: 34px !important;
    }
    .evolution-total .evolution-wrapp {
        padding: 50px 15px;
    }
}